@use 'base/variables' as v;
@use 'base/mixins' as m;

.boletos {
    padding: 3rem 0 ;

    h3 {
        text-align: center;
        color: v.$blanco;
        margin: 1.5rem;
    }
    .contenedor-boletos {
        @include m.contenedor;
        @include m.tablet {
        @include m.grid (2, 3rem);    
        }
    }
}
.pase {
    &-dia {
        text-align: center;
        color: v.$blanco;
        font-size: 2.5rem;
        margin: 1.5rem;
    }
    &-header, 
    &-footer {
        padding: .5rem;
        p {
            text-align: center;
            color: v.$blanco;
            margin: 0;
        }
    }

    &-header {
        background-color: v.$rosa;
        p {
        font-size: 1.6rem;
        text-transform: uppercase;
        }
    }
    &-body {
        background-color: v.$blanco;
        ul {
            @include m.reset-lista();
            li, 
            :nth-child(odd) {
                background-color: v.$blanco;
                padding: 1rem ;
                border-bottom: 1px solid #c1c1c1;
            }
        }

    }
    &-footer {
        background-color: v.$morado;
        p {
            font-weight: 700;
            font-size: 2.4rem;
        }
    }
}