@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.boletos {
    padding: 3rem 0 ;
    background-color: v.$verde;

    h3 {
        text-align: center;
        color: v.$blanco;
        margin: 1.5rem;
    }
    .contenedor-boletos {
        @include m.contenedor;
        @include m.tablet {
           @include m.grid (2, 3rem);    
        }
    }
}
.pase {
    &:hover {
        transform: scale(1.1);
        transition: transform .3s ease-in-out ;
    }

    &-dia {
        text-align: center;
        color: v.$blanco;
        font-size: 3.6rem;
        margin: 1.5rem;
        font-weight: 900;
    }
    &-header, 
    &-footer {
        padding: .5rem;
        p {
            text-align: center;
            color: v.$blanco;
            margin: 0;
        }
    }

    &-header {
        background-color: v.$rosa;
        p {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1.6rem;
        }
    }
    &-body {
        background-color: v.$blanco;
        ul {
            @include m.reset-lista();
            li {
                background-color: v.$blanco;
                padding: 2rem ;
                border-bottom: 1px solid #c1c1c1;
            }
        }

    }
    &-footer {
        background-color: v.$blanco;
        padding: 2rem;
        p {
            font-size: 2.8rem;
            font-weight: 900;
            background-color: v.$morado;
            padding: 1rem 0;
            cursor: pointer;
            border-radius: 1rem;
            &:hover {
                background-color: color.adjust(v.$morado, $lightness: -20%);
                
            }

        }
    }
}