@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-festival {
    padding: 5rem 0;
    @include m.tablet {
        @include m.grid (2, 5rem)
    }
}
.contenido-festival {
    margin-top: 2rem;
    @include m.tablet {
        margin-top: 0;
    }
    .fecha {
        color: v.$rosa;
        font-weight: bold;
    }
}