@use 'base/variables' as v;

.footer {
    background-color: v.$rosa;
    text-align: center;
    padding: 1rem;
    p {
        margin: 0;
        color: v.$blanco;
        font-weight: 500;
    }
}