@use 'base/variables' as v;
@use 'base/mixins' as m;

.galeria {
    @include m.contenedor;
    padding: 3rem 0;
    h3{
        text-align: center;
    }    
    &-imagenes {
        @include m.reset-lista;
        @include m.grid (1, 2rem);
        @include m.telefono {
            @include m.grid (2, 2rem);
        }
        @include m.tablet {
            @include m.grid(3, 2rem)
        }
        @include m.desktop {
            @include m.grid (5, 2rem)
        }
        @include m.desktopXL {
            @include m.grid (6, 2rem)
        }
    }
    img {
        height: 20rem;
        object-fit: cover;
    }
}

.overlay {
    position: fixed;
    // right: 0;
    // left: 0;
    // top: 0;
    // bottom: 0;
    // width: 100%;
    // height: 100%;       ** Todas los atributos comentados se pueden reemplazar facilmente con inset
    inset: 0;
    display: grid;
    place-items: center;
    background-color: rgb(0 0 0 / .5);

    animation: fadeIn ease-in .5s;
    picture {       
        display: block;
        max-width: 80rem;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.btn-cerrar {
    width: 4rem;    
    height: 4rem;
    border-radius: 50%;
    background-color: v.$blanco;
    color: v.$negro;
    display: grid;
    place-items: center;
    font-weight: 700;
    
    &:hover {
        cursor: pointer;
    }
}