@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$verde;
    text-align: center;
    padding: 2rem 0;
    @include m.tablet {
        &.fijar-barra {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 2rem 2rem 3rem #333;
        }
    }

    .contenido-header {
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    h1 {
        color: v.$blanco;
        @include m.tablet {
            margin: 0;
            
        }
    }

}
.navegacion-principal {
    a {
        padding-bottom: 1rem;
        display: block;
        color: v.$blanco;
        font-size: 2.2rem;

        @include m.tablet {
            padding: 0;
        }

        &:hover {
            color: v.$amarillo;
        }
    }
    @include m.tablet {
        display: flex;
        gap: 2rem;
        padding-bottom: 0 ;
    }


}

