@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup {
    background-image: url(/src/img/lineUp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 0;
    h3, p {
        color: v.$blanco;
        text-align: center;
    }
    .dia {
        text-transform: uppercase;
        margin: 5rem 0; 
        font-size: 3rem;
    }
}

.escenarios-contenedor {
    @include m.contenedor;
    @include m.tablet {
        @include m.grid (2, 3rem)
    }
    p {
        color: v.$negro;
        font-weight: bold;
        font-size: 2.5rem;
    }
}
.escenario {
    padding-top: 2rem;
    .nombre-escenario{
        text-transform: uppercase;
        font-weight: 900;
    }
}

.bg-amarillo {
    background-color: v.$amarillo;

    li:nth-child(odd) {
        background-color: color.adjust(v.$amarillo, $lightness: -15%) ;
    }
}
.bg-verde {
    background-color: v.$plata;

    li:nth-child(odd) {
        background-color: color.adjust(v.$plata, $lightness: -10%);
    }
}
.calendario {
    @include m.reset-lista
}

li {
    padding: 2rem;
    font-weight: 700;
    span {
        font-weight: 400; 
    }
}