@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup {
    background-color: v.$rosa;
    padding: 5rem 0;
    h3, p {
        color: v.$blanco;
        text-align: center;
    }
    .dia {
        text-transform: uppercase;
        margin: 5rem 0; 
    }
}

.escenarios-contenedor {
    @include m.tablet {
        @include m.grid (2, 3rem)
    }
    p {
        color: v.$negro;
    }
}
.escenario {
    padding-top: 2rem;

    p {
        &:after {
            content: '';
            display: block;    
            margin: 2rem auto 0 auto;
            width: 20rem;
            height: 10rem;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}
.edm .nombre-escenario:after {
    background-image: url(../img/icono_edm.png);
}
.rock .nombre-escenario:after {
    background-image: url(../img/icono_rock.png);
}
.bg-amarillo {
    background-color: v.$amarillo;

    li:nth-child(odd) {
        background-color: darken(v.$amarillo, 15%);
    }
}
.bg-verde {
    background-color: v.$verde;

    li:nth-child(odd) {
        background-color: darken(v.$verde, 10%);
    }
}
.calendario {
    @include m.reset-lista
}

li {
    padding: 2rem;
    font-weight: 700;
    span {
        font-weight: 400; 
    }
}