@use 'base/variables' as v;
@use 'base/mixins' as m;

.video {
    position: relative;
    max-height: 70rem;
    overflow: hidden;
    .overlay {
        position: absolute;
        background: rgb(154,0,255);
        background: linear-gradient(286deg, rgba(154,0,255,0.6195728291316527) 0%, rgba(255,0,112,0.48511904761904767) 100%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    video {
        width: 100%;
        display: block;
    }
}
.contenido-video {

    h2{
        margin: 0;
        font-size: 5rem;
        color: v.$blanco;
        font-weight: bold;
    }
    p {
        display: inline-block;
        background-color: v.$rosa;
        color: v.$blanco;
        padding: 1rem 2rem;
        font-weight: bold;
    }
    

}